@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Prompt:wght@300;400;500;600;700;800&display=swap');


:root {
    --color-primary: #7380ec;
    --color-primary-variant: #4C559D;
    --color-danger: #f97c7c;
    --color-danger-variant: #ee6969;
    --color-success: #90f0b4;
    --color-success-variant: #80e5a6;
    --color-warning: #f3da58;
    --color-warning-variant: #f3cc59;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ====================== Dark Theme ====================== */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: prompt, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

input, button {
    font-family: prompt, sans-serif;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.container-checkin {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 30rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1,4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success-variant);
}

.warning {
    color: var(--color-warning);
}

.dark {
    color: var(--color-info-dark);
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

/* ======================SideBar====================== */
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a, aside .sidebar div.room {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem; /*Icon size*/
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
   position: absolute;
   bottom: 2rem;
   width: 100%;
}

aside .sidebar .slide-menu div {
    background: var(--color-light);
}

aside .sidebar div.sub-room {
    display: flex;
    flex-direction: column;
    background: none;
    gap: 0.5rem;
    color: var(--color-primary-variant);
    margin-left: calc(2rem + 6px + 1.6rem + (1rem - 3px));   
    padding: 0.5rem 0; 
    transition: all 0.3s ease;
}

aside .sidebar div.sub-room h3 {    
    cursor: pointer;
    transition: all 300ms ease;
}

aside .sidebar a.active, aside .sidebar div.room.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before, aside .sidebar div.room.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span, aside .sidebar div.room.active span, aside .sidebar div.sub-room h3.active {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover, aside .sidebar div.room:hover, aside .sidebar div.sub-room h3:hover {
    color: var(--color-primary);
    cursor: pointer;
}

aside .sidebar a:hover span, aside .sidebar div.room:hover span, aside .sidebar div.sub-room h3:hover {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ====================== Main ====================== */

main {
    margin-top: 1.4rem;
}

main > h1.dashboard {
    margin-top: 2rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date'] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}

main .insights > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.checkin span {
    background: var(--color-success);
}

main .insights > div.checkout span {
    background: var(--color-danger);
}

main .insights .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

main .insights .left h2 {
    font-weight: 600;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}

/* ====================== Chart ====================== */

main .chart {
    display: grid;
    grid-template-columns: auto 30rem;
    gap: 1.6rem;
}

main .chart > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .chart > div:hover {
    box-shadow: none;
}

/* ====================== Recent Order ====================== */

main .recent-order {
    margin-top: 2rem;
    height: 20rem;
}

main .recent-order h2 {
    margin-bottom: 0.8rem;
}

main .recent-order table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-order table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}


main .recent-order a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* ====================== Main-Checkin ====================== */

main .recent-order .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin: 2rem 0;    
    padding: 1.2rem 0;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    width: 25rem;
    height: 1rem;
    transition: all 300ms ease;
}

main .recent-order .search:hover {
    box-shadow: none;
}

main .recent-order .search button{    
    height: 2.2rem;
    width: 3.5rem;
    background: none;
    color: var(--color-dark-variant);
    border-radius: var(--card-border-radius);
    cursor: pointer;
}


main .recent-order .search #srch {
    padding: var(--padding-1); 
    color: var(--color-dark-variant);
    background: none;
    border-radius: var(--card-border-radius);
    width: 22rem;
    height: 1rem;
}

main .recent-order .div-table-checkin {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    text-align: center;
    box-shadow: var(--box-shadow);
    height: 50rem;
    overflow: auto;
    transition: all 300ms ease;
}

main .recent-order .div-table-checkin:hover {
    box-shadow: none;
}

main .recent-order .table-checkin {
    background: none;
    text-align: center;
    box-shadow: none;
    transition: all 300ms ease;
}

main .recent-order .table-checkin tbody tr {
    transition: all 300ms ease;
}

main .recent-order .table-checkin tbody tr:hover {    
    box-shadow: 0rem 0rem 3rem var(--color-light);
    cursor: pointer;
}

/* ====================== Main-Room ====================== */

.table-checkin.table-room tbody tr {
    border-radius: var(--border-radius-1);
}

.table-checkin.table-room tbody tr td {
    padding: 0.7rem 0;
    /* width: 20%; */
}

.table-checkin.table-room tbody tr td img {
    border: 1px solid var(--color-info-dark);
    border-radius: var(--border-radius-1);
    padding: 5px;
    width: 6.5rem;
    height: 6.5rem;
    margin: auto;
}

/* ====================== Right ====================== */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}
.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* ====================== Rate ====================== */

.right .recent-rate {
    margin-top: 1rem;
}

.right .recent-rate h2 {
    margin-bottom: 0.8rem;
}

.right .recent-rate .rate {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height: 5rem;
    transition: all 300ms ease;
}

.right .recent-rate .rate > span {
    background: var(--color-warning);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

.right .recent-rate .rate:hover {
    box-shadow: none;
}

.right .recent-rate .rate .rate {
    display: flex;
    margin-bottom: 1rem;
}

/* ====================== Recent Update ====================== */

.right .recent-update {
    margin-top: 1rem;
}

.right .recent-update h2 {
    margin-bottom: 0.8rem;
}

.right .recent-update .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    height: 24rem;
    transition: all 300ms ease;
}

.right .recent-update .updates:hover {
    box-shadow: none;
}

.right .recent-update .updates .update {
    display: flex;
    margin-bottom: 1rem;
}

/* ====================== checkin Insert ====================== */

.right .recent-update.checkin-insert {
    margin-top: 9.5rem;
}

.right .recent-update .updates.checkin-div {
    height: 50rem;
}

.right .recent-update .updates.checkin-div h2 {
    text-align: center;
    margin: 1rem 0;
}

.right .recent-update .updates.checkin-div form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin: 1rem 0;
}

.right .recent-update .updates.checkin-div form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.right .recent-update .updates.checkin-div form .slip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    border: 1px dashed var(--color-primary);
    border-radius: var(--border-radius-1);
    color: var(--color-primary);
    height: 12rem;
    width: 18rem;
    margin-top: 0.6rem;
    cursor: pointer;
}

.right .recent-update .updates.checkin-div form .slip a,
.right .recent-update .updates.checkin-div form .slip a img {
    height: 12rem;
    width: 18rem;
}

.right .recent-update .updates.checkin-div input, .right .recent-update .updates.checkin-div select {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.right .recent-update .updates.checkin-div div.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
} 

.right .recent-update .updates.checkin-div button {
    background: var(--color-success);
    color: white;
    border: none;
    box-shadow: inset 0 0 2rem var(--color-light);
    border-radius: var(--border-radius-3);
    width: 90%;
    height: 3.5rem;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right .recent-update .updates.checkin-div button:hover {
    background: var(--color-success-variant);
}

.right .recent-update .updates.checkin-div button:last-child {
    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    box-shadow: inset 0 0 2rem var(--color-light);
    font-weight: 500;
}

.right .recent-update .updates.checkin-div button:last-child:hover {
    background: var(--color-primary);
    color: white;
    box-shadow: none;
}

/* ====================== customer Insert ====================== */

.right .recent-update.customer-insert {
    margin-top: 9.5rem;
}

.right .recent-update .updates.customer-div {
    height: fit-content;
}

.right .recent-update .updates.customer-div h2 {
    text-align: center;
    margin: 1rem 0;
}

.right .recent-update .updates.customer-div form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0;
}

.right .recent-update .updates.customer-div form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.right .recent-update .updates.customer-div input {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.right .recent-update .updates.customer-div div.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
} 

.right .recent-update .updates.customer-div button {
    background: var(--color-success);
    color: white;
    border: none;
    box-shadow: inset 0 0 2rem var(--color-light);
    border-radius: var(--border-radius-3);
    width: 90%;
    height: 3.5rem;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right .recent-update .updates.customer-div button:hover {
    background: var(--color-success-variant);
}





/* ====================== Room Type Insert ====================== */

.right .recent-update.room-type-insert {
    margin-top: 9.5rem;
}

.right .recent-update .updates.room-type-div {
    height: 50rem;
}

.right .recent-update .updates.room-type-div h2 {
    text-align: center;
    margin: 1rem 0;
}

.right .recent-update .updates.room-type-div form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0;
}

.right .recent-update .updates.room-type-div form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.right .recent-update .updates.room-type-div input,
.right .recent-update .updates.room-type-div select {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.right .recent-update .updates.room-type-div input[type=file] {
    display: none;
}

.right .recent-update .updates.room-type-div .images-upload {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    border: 1px dashed var(--color-primary);
    border-radius: var(--border-radius-1);
    color: var(--color-primary);
    height: 10rem;
    width: 18rem;
    margin-top: 0.6rem;
    cursor: pointer;
    overflow-y: auto;
}

.right .recent-update .updates.room-type-div .images-upload img {
    margin-top: 5px;
}

.right .recent-update .updates.room-type-div .images-upload h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    font-weight: 500;
}

.right .recent-update .updates.room-type-div div.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* margin-top: 2rem; */
} 

.right .recent-update .updates.room-type-div button {
    background: var(--color-success);
    color: white;
    border: none;
    box-shadow: inset 0 0 2rem var(--color-light);
    border-radius: var(--border-radius-3);
    width: 90%;
    height: 3.5rem;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right .recent-update .updates.room-type-div button:hover {
    background: var(--color-success-variant);
}

/* ====================== Room Insert ====================== */

.right .recent-update.room-insert {
    margin-top: 9.5rem;
}

.right .recent-update .updates.room-div {
    height: fit-content;
}

.right .recent-update .updates.room-div h2 {
    text-align: center;
    margin: 1rem 0;
}

.right .recent-update .updates.room-div form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0;
}

.right .recent-update .updates.room-div form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.right .recent-update .updates.room-div input, .right .recent-update .updates.room-div select {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.right .recent-update .updates.room-div input[type=file] {
    display: none;
}

.right .recent-update .updates.room-div .images-upload {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    border: 1px dashed var(--color-primary);
    border-radius: var(--border-radius-1);
    color: var(--color-primary);
    height: 15rem;
    width: 18rem;
    margin-top: 0.6rem;
    cursor: pointer;
    overflow-y: auto;
}

.right .recent-update .updates.room-div .images-upload img {
    margin-top: 5px;
}

.right .recent-update .updates.room-div .images-upload h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    font-weight: 500;
}

.right .recent-update .updates.room-div div.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
} 

.right .recent-update .updates.room-div button {
    background: var(--color-success);
    color: white;
    border: none;
    box-shadow: inset 0 0 2rem var(--color-light);
    border-radius: var(--border-radius-3);
    width: 90%;
    height: 3.5rem;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right .recent-update .updates.room-div button:hover {
    background: var(--color-success-variant);
}

/* ====================== Sales Analytics ====================== */

.right .sale-analytics {
    margin-top: 2rem;
}

.right .sale-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sale-analytics .items {
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sale-analytics .items h3 {
    font-size: 1.3em;
}

.right .sale-analytics .items:hover {
    box-shadow: none;
}

.right .sale-analytics .items .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.right .sale-analytics .items .icon {
    padding: 0.6rem;
    color: var(--color-primary);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sale-analytics .items.offline .icon {
    background: var(--color-danger);
    color: var(--color-danger);
}

.right .sale-analytics .items.customers .icon {
    color: var(--color-success);
    background: var(--color-success);
}

.right .sale-analytics .add-product {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sale-analytics .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .sale-analytics .add-product div h3 {
    font-weight: 500;
}

/* ************************************ Modal ************************************ */

.modal-container {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    /* padding-top: 10rem; */
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-container .modal {
    margin: auto;
    background: white;
    width: 50rem;
    height: 50rem;
    padding: 2rem;
    border-radius: 3rem;
    overflow: hidden;
}

.modal-container .modal div.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;    
}

.modal-container .modal div.close span {
    color: var(--color-primary);
    transition: var(--transition);
}

.modal-container .modal div.close span:hover {
    transform: scale(1.5);
}

/* ************************************ Modal-Customer Insert ************************************ */

.modal.modal-cusInsert-info {
    width: 30rem;
    height: fit-content;
    background: var(--color-background);
}

.modal-cusInsert-info .modal-content h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.modal-cusInsert-info form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;    
}

.modal-cusInsert-info form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.modal-cusInsert-info form input {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.modal-cusInsert-info form .button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 2.3rem;
}

.modal-cusInsert-info form button {
    width: 75%;
    height: 3.5rem;
    border-radius: 1rem;
    background: var(--color-success);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-cusInsert-info form button:last-child {
    background: var(--color-danger);
}

.modal-cusInsert-info form button:hover {
    background: var(--color-success-variant);
}

.modal-cusInsert-info form button:last-child:hover {
    background: var(--color-danger-variant);
}

/* ************************************ Modal-Checkin Edit ************************************ */

.modal.modal-checkEdit-info {
    width: 30rem;
    height: fit-content;
    background: var(--color-background);
}

.modal-checkEdit-info .modal-content {
    position: relative;
}

.modal-checkEdit-info .modal-content span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-checkEdit-info .modal-content span:hover {
    transform: scale(1.2) rotate(90deg);
}

.modal-checkEdit-info .modal-content h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.modal-checkEdit-info form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;    
}

.modal-checkEdit-info form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.modal-checkEdit-info form input {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.modal-checkEdit-info form .button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 2.3rem;
}

.modal-checkEdit-info form button {
    width: 75%;
    height: 3.5rem;
    border-radius: 1rem;
    background: var(--color-danger);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-checkEdit-info form button:last-child {
    background: var(--color-danger);
}

.modal-checkEdit-info form button:hover {
    background: var(--color-danger-variant);
}

.modal-checkEdit-info form button:last-child:hover {
    background: var(--color-danger-variant);
}

/* ************************************ Modal-Customer Edit ************************************ */

.modal.modal-cusEdit-info {
    width: 30rem;
    height: fit-content;
    background: var(--color-background);
}

.modal-cusEdit-info .modal-content {
    position: relative;
}

.modal-cusEdit-info .modal-content span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-cusEdit-info .modal-content span:hover {
    transform: scale(1.2) rotate(90deg);
}

.modal-cusEdit-info .modal-content h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.modal-cusEdit-info form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;    
}

.modal-cusEdit-info form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.modal-cusEdit-info form input, .modal-cusEdit-info form select {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.modal-cusEdit-info form .button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 2.3rem;
}

.modal-cusEdit-info form button {
    width: 75%;
    height: 3.5rem;
    border-radius: 1rem;
    background: var(--color-warning);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-cusEdit-info form button:hover {
    background: var(--color-warning-variant);
}

/* ************************************ Modal-Room Type Edit ************************************ */

.modal.modal-roomTypeEdit-info {
    width: 30rem;
    height: fit-content;
    background: var(--color-background);
}

.modal-roomTypeEdit-info .modal-content {
    position: relative;
}

.modal-roomTypeEdit-info .modal-content span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-roomTypeEdit-info .modal-content span:hover {
    transform: scale(1.2) rotate(90deg);
}

.modal-roomTypeEdit-info .modal-content h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.modal-roomTypeEdit-info form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;    
}

.modal-roomTypeEdit-info form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.modal-roomTypeEdit-info form div.image-add {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-roomTypeEdit-info form div.images-view {
    padding: 5px;
    border: 1px dashed var(--color-primary);
    border-radius: var(--border-radius-1);
    height: 13rem;
    width: 18rem;
    overflow-y: auto;
}

.modal-roomTypeEdit-info form div.images-view img {
    margin: 0.5rem auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-roomTypeEdit-info form div.images-view img:hover {
    border: 1px solid var(--color-primary);
    box-shadow: var(--box-shadow);
}

.modal-roomTypeEdit-info form input,
.modal-roomTypeEdit-info form select {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.modal-roomTypeEdit-info form .button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 1.5rem;
    /* margin-top: 2.3rem; */
}

.modal-roomTypeEdit-info form button {
    width: 75%;
    height: 3.5rem;
    border-radius: 1rem;
    background: var(--color-warning);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-roomTypeEdit-info form button:hover {
    background: var(--color-warning-variant);
}

/* ************************************ Modal-Room Edit ************************************ */

.modal.modal-roomEdit-info {
    width: 30rem;
    height: fit-content;
    background: var(--color-background);
}

.modal-roomEdit-info .modal-content {
    position: relative;
}

.modal-roomEdit-info .modal-content span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-roomEdit-info .modal-content span:hover {
    transform: scale(1.2) rotate(90deg);
}

.modal-roomEdit-info .modal-content h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.modal-roomEdit-info form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;    
}

.modal-roomEdit-info form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.modal-roomEdit-info form input, .modal-roomEdit-info form select {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.modal-roomEdit-info form .button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 2.3rem;
}

.modal-roomEdit-info form button {
    width: 75%;
    height: 3.5rem;
    border-radius: 1rem;
    background: var(--color-warning);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-roomEdit-info form button:last-child {
    background: var(--color-danger);
}

.modal-roomEdit-info form button:hover {
    background: var(--color-warning-variant);
}

.modal-roomEdit-info form button:last-child:hover {
    background: var(--color-danger-variant);
}

/* ************************************ Modal-Book Edit ************************************ */

.modal.modal-bookEdit-info {
    width: 30rem;
    height: fit-content;
    background: var(--color-background);
}

.modal-bookEdit-info .modal-content {
    position: relative;
}

.modal-bookEdit-info .modal-content span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-bookEdit-info .modal-content span:hover {
    transform: scale(1.2) rotate(90deg);
}

.modal-bookEdit-info .modal-content h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.modal-bookEdit-info form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;    
}

.modal-bookEdit-info form div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.modal-bookEdit-info form input {
    background: none;
    color: var(--color-dark-variant);
    border: none;
    border-bottom: 1px solid var(--color-dark-variant);
    padding: 0.6rem;
    width: 18rem;
}

.modal-bookEdit-info form .button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 2.3rem;
}

.modal-bookEdit-info form button {
    width: 75%;
    height: 3.5rem;
    border-radius: 1rem;
    background: var(--color-primary);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-bookEdit-info form button:last-child {
    background: var(--color-danger);
}

.modal-bookEdit-info form button:hover {
    background: var(--color-primary-variant);
}

.modal-bookEdit-info form button:last-child:hover {
    background: var(--color-danger-variant);
}

/* ====================== Media Queries for Tablet ====================== */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-order table {
        width: 83vw;
    }

    main table thead tr th:last-child, 
    main table thead tr th:first-child {
        display: none;
    }

    main table tbody tr td:last-child, 
    main table tbody tr td:first-child {
        display: none;
    }
}

/* ====================== Media Queries for SmallerTablet and Mobile ====================== */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

   aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
   }

   @keyframes showMenu {
    to {
        left: 0;
    }
   }

   aside .logo {
    margin-left: 1rem;
   }

   aside .logo h2 {
    display: inline;
   }

   aside .sidebar h3 {
    display: inline;
   }

   aside .sidebar a {
    width: 100%;
    height: 3.4rem;
   }

   aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
   }

   aside .close {
    display: inline-block;
    cursor: pointer;
   }

   main {
    margin-top: 8rem;
    padding: 0 1rem;
   }

   main .recent-order {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
   }

   main .recent-order table {
    width: 100%;
    margin: 0;
   }

   .right {
    width: 94%;
    margin: 0 auto 4rem;
   }

   .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
   }

   .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
   }

   .right .profile .info {
    display: none;
   }

   .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
   }

   .right .top button span {
    font-size: 2rem;
   }
}